body{

    background-image:url("../images/test1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: linear-gradient(black, grey);
}

li{
    margin-right: 30px;
}

.nav-item:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: white;
}
a, a:hover {
    color: white;
    text-decoration: none; /* Pour supprimer le soulignement au survol si vous en avez un par défaut */
}



.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}

.card{
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

footer{
    background-color: darkgray;
    text-align:center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.table{
    opacity: 80%;
    border: solid 2px black;
    border-radius: 20px;
}