{% extends 'base.html.twig' %}


{% block body %}

        {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <a href="{{ path('ajouter_lieu') }}" class="btn btn-warning">Ajouter Lieu</a>
    <button class="btn btn-success">Créer</button>

        {{ form_end(sortieForm) }}






{%  endblock %}
